{% extends "dalec/default/item.html" %}
{% load dalec %}
{% block item_content %}
<tr>
    <td class="nextcloud activity subject">
            <img src="{{object.content_data.icon}}" alt=""/>
            {{object.content_data.subject}}
    </td>
    <td class="nexctloud activity item"></td>
    <td class="nextcloud activity time">
        {{object.content_data.datetime|to_datetime:"%Y-%m-%dT%H:%M:%S%z"|date:"DATE_FORMAT"}}
    </td>
    <td class="nextcloud activity action">
        <div>
            {% if object.content_data.app == "comments" %}
            {{object.content_data.message}}
            {% else %}
            <a href="{{object.content_data.link}}" target="_blank">
                {{object.content_data.object_name}}
            </a>
            {% endif %}
        </div>
        <button id="btnFadetoggle"
                class="btn btn-primary"
                type="button"
                onclick="$('.api-full').fadeToggle();"
                >
                Voir tout le retour de l'API
        </button>
        <pre class="api-full" style="display: none;"> {{ object.content_data|pprint }} </pre>
    </td>
</tr>
{% endblock %}
